<!DOCTYPE html>
<html>
<head>
	<title>Component test</title>
	<script src="angular.js"></script>
	<script src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body ng-app="Components"> 
<navbar>
<h2>Component test</h2>
</navbar>
<div class="container"  ng-controller="MainCtrl">
<multiselect cities="cities" selectedcities="selectedList"></multiselect>
{{selectedList.toString()}}
<br>
<br>
<br>
<multiselect cities="cities1" selectedcities="selectedCities1"></multiselect>
{{selectedCities1.toString()}}
</div>
</body>
</html>